<div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand">Taşınmaz</a>

    <button class="navbar-toggler" data-toggler="collapse" data-target="#navbarToggler">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">

    <ul class="navbar-nav mr-auto">
      <li class="navbar-nav">
        <a href="" class="nav-link active">Giriş</a>
      </li>
    </ul>
    <div *ngIf="kullaniciService.kullaniciId">

    <ul class="navbar-nav mr-auto">
      <li class="navbar-nav">
        <a routerLink="tasinmaz" routerLinkActiv="active-link" class="nav-link">Taşınmazlar</a>
      </li>
      
        
      <li class="navbar-nav" *ngIf="kullaniciService.rol">
        <a routerLink="kullanici" routerLinkActiv="active-link" class="nav-link">Kullanıcı</a>
      </li>
      <li class="navbar-nav" *ngIf="kullaniciService.rol">
        <a routerLink="log" routerLinkActiv="active-link" class="nav-link">Loglar</a>
      </li>
      
    </ul>
    
    </div>
  </div>
    
  </div>

  </div>
