<div>
  <form  (ngSubmit)="onFilter()">
    <div class="form-group">
      <button type="submit" class="btn btn-success">Ara</button>
      <input type="text" [(ngModel)]="filter" class="form-control" name="filter" placeholder="Ara">
    </div>
  </form>
</div>
<div>
  <button class="btn btn-outline-info" (click)="navigateToTasinmazEkle();">Tasinmaz Ekle</button>
</div>
  <table class="table table-striped table-bordered table-hover mt-3">
    <thead>

      <th>İL</th>
      <th>İLÇE</th>
      <th>MAHALLE</th>
      <th>ADA</th>
      <th>PARSEL</th>
      <th>NİTELİK</th>
      <th>ADRES</th>
      <th></th>

    </thead>
    <tbody>
      <tr *ngFor="let t of tasinmazlar; index as i;">
        <td >{{t.ilName}}</td>
        <td>{{t.ilceName}}</td>
        <td>{{t.mahalleName}}</td>
        <td>{{t.ada}}</td>
        <td>{{t.parsel}}</td>
        <td>{{t.nitelik}}</td>
        <td>{{t.adres}}</td>
        <td>
          <button class="btn btn-outline-info"(click)="report(t)">Raporla</button>
          <button class="btn btn-outline-info" data-toggle="modal" data-target="#guncelleModal" (click)="selectTasinmaz(t)">Güncelle</button>
          <button class="btn btn-outline-info" data-toggle="modal" data-target="#silModal" (click)="deleteTasinmazs(t)">Sil</button>
        </td>
      </tr>

    </tbody>

  </table>


  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" (click)="priviousPage()">Previous</a></li>
      <li class="page-item"><a class="page-link" >{{Page}}</a></li>
      <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
    </ul>
  </nav>
  
<!-- Güncelle Modal -->
  <div class="modal fade" id="guncelleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Tasinmaz Güncelle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="guncelleForm" (ngSubmit)="onFormSubmit()">

            <select class='form-group'  formControlName="Il"  style="margin-left: 100px; " #mySelect (change)='getIlces(mySelect.value)'>
              <option selected>Seçiniz</option>
              <option class='option' *ngFor='let il of Ils' [value]="il.ilId">{{il.ilName}}</option>
            </select>
            
            <select class='form-group'  formControlName="Ilce"  style="margin-left: 100px;" #mySelect1 (change)='getMahalles(mySelect1.value)'>
              <option selected>Seçiniz</option>
              <option class='option' *ngFor='let ilce of Ilce' [value]="ilce.ilceId">{{ilce.ilceName}}</option>
            </select> 
            
            <select class='form-group' formControlName="Mahalle" style="margin-left: 100px;" #mySelect2>
              <option selected>Seçiniz</option>
              <option class='option' *ngFor='let mahalle of Mahalles' [value]="mahalle.mahalleId">{{mahalle.mahalleName}}</option>
            </select>
            
              <div class="form-group">
                <label for="exampleInputEmail1">Ada</label>
                <input type="number" formControlName="Ada" class="form-control" placeholder="ada girin">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Parsel</label>
                <input type="number" formControlName="Parsel" class="form-control" placeholder="parsel girin">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Nitelik</label>
                <input type="text" formControlName="Nitelik" class="form-control" placeholder="nitelik girin">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Adres</label>
                <input type="text" formControlName="Adres" class="form-control" placeholder="adres girin">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="submit" class="btn btn-success">Güncelle</button>
              </div>
            </form>
            
        </div>
    </div>
  </div>
</div>


<!-- Sil Modal -->
<div class="modal fade" id="silModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Taşınmaz sil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Silmek istediğinize emin misiniz</p>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="permenentDelete()">Sil</button>
      </div>
    </div>
  </div>
</div>
