<div>
  <button class="btn btn-outline-info" (click)="navigateToKullaniciEkle();">Kullanici Ekle</button>
</div>
  <table class="table table-striped table-bordered table-hover mt-3">
    <thead>

      <th>Kullanıcı ID</th>
      <th>Kullanıcı Adı</th>
      <th>Kullanıcı Soyadı</th>
      <th>Mail</th>
      <th>Rol</th>
      <th>ADRES</th>
      <th></th>

    </thead>
    <tbody>
      <tr *ngFor="let k of kullanicilar; index as i;">
        <td >{{k.kullaniciId}}</td>
        <td>{{k.kullaniciName}}</td>
        <td>{{k.kullaniciSurname}}</td>
        <td>{{k.mail}}</td>
        <td>{{isAdmin(k.rol)}}</td>
        <td>{{k.address}}</td>
        <td>
          <button class="btn btn-outline-info">Raporla</button>
          <button class="btn btn-outline-info" data-toggle="modal" data-target="#guncelleModal" (click)="saveKullaniciInfo(k)">Guncelle</button>
          <button class="btn btn-outline-info" data-toggle="modal" data-target="#silModal" (click)="deleteKullanicis(k)">Sil</button>
        </td>
      </tr>

    </tbody>
    
  </table>

<!-- Guncelle Modal -->
<div class="modal fade" id="guncelleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Kullanıcı Güncelle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="guncelleForm" (ngSubmit)="onFormSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail1">Ad</label>
            <input type="text" formControlName="kullaniciName" class="form-control"   placeholder="isim girin">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Soyad</label>
            <input type="text" formControlName="kullaniciSurname" class="form-control"   placeholder="soyisim girin">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" formControlName="mail" class="form-control"  placeholder="email girin">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" formControlName="password" class="form-control"  placeholder="şifre girin">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Rol</label>
            <select formControlName="rol">
              <option selected>Rol secin</option>
              <option [value]=true>Admin</option>
              <option [value]=false>Kullanici</option>
            </select>
        
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Adres</label>
            <input type="text" formControlName="address" class="form-control"   placeholder="adres girin">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
            <button type="submit" class="btn btn-success">Güncelle</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Sil Modal -->
<div class="modal fade" id="silModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Kullanıcı sil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Silmek istediğinize emin misiniz</p>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="permenentDelete()">Sil</button>
      </div>
    </div>
  </div>
</div>